@include respond-above (xs) {
    .home-container{
        width: 450px;
    }
}
@include respond-below (xs) {
    .home-container{
        width: 100%;
    }
}

.home-container{
    background-color: $yellow;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 0 20px 0 20px;
    img{
        height: 130px;
        width: 130px;
        margin: -65px auto 14px auto;
    }
    .host, .party, .location, .codes-info{
        margin: 0 0 20px 0;
        background-color: white;
        border-radius: 14px;
        padding: 5px 20px;
        strong{
            font-size: 20px;
        }
        p{
            margin: 0;
            font-size: 16px;
            padding: 3px 0 0 5px;
        }
    }
    .location{
        .location-info{
            margin-bottom: 20px;
        }
        a{
            padding: 20px;
            margin: 0 auto;
            background-color: black;
            color: white;
            padding: 10px 0;
            width: 100%;
            text-align: center;
            border-radius: 30px;
        }
        .g-map-iframe{
            margin-bottom: 20px;
        }
    }
    .codes-info{
        border: none;
        background-color: transparent;
        padding: 0;
        .img-container{
            background-color: white;
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 0 10px;
            img{
                background-color: white;
                border: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        .dress-code, .food-code{
            border-radius: 10px;
            border: none;
            img{
                height: 50px;
                width: auto;
                margin: 0;
            }
            .dress-code-info, .food-code-info{
                padding: 3px 10px 3px 10px;
                background-color: black;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: white;
                strong, p{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .guests{
        .left{
            margin: 10px 10px 0 0 ;
        }
        .right{
            margin: 10px 0 0 10px;
        }
        .guest-card{
            border-radius: 10px;
            width: 40%;
            padding: 0;
            img{
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            .guest-card-info{
                background-color: black;
                color: white;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 10px;
                p, i{
                    margin: 0;
                    padding: 0;
                    font-size: 15px;
                }
            }
        }
    }
}
/*# sourceURL=base/MODULE/_home.scss */