
<div class="container home home-container d-flex justify-content-center flex-column">
    <img src="../assets/img/guest.png">
    <div class="host d-flex"><strong>HOST:</strong><p>Cristina Moreno</p></div>
    <div class="party d-flex"><strong>PARTY:</strong><p>House warming party</p></div>
    <div class="location d-flex flex-column justify-content-center">
        <div class="d-flex"><strong>LOCATION: </strong><p>C/ Francesc Layret, 6 ENTLO2 08911 BADALONA</p></div>
        <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=400&hl=es&coord=41.44930778287855, 2.2458829265087847&q=C%2F%20Francesc%20Layret%2C%206%20080911%20Badalona+(House%20warming%20party%20hosted%20by%20Cristina%20Moreno)&ie=UTF8&t=&z=18&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/calcular-ruta.html">Planificador de Ruta</a></iframe></div>
        <a href="https://www.google.com/maps?ll=41.449288,2.246021&z=18&t=m&hl=es&gl=US&mapclient=embed&q=Carrer+de+Francesc+Layret,+6+08911+Badalona+Barcelona">GO TO MAPS</a>
    </div>
</div>